/**
  ******** Styles ********
  Font: Spartan

  300 : textes
  500 : liste de devises
  700 : titre et résultat

  ******** Couleurs ********
  Principale:  #bb5432
  Alternative:  #f1c5b6
  Claire:  #fff

  ********* Transitions ******
  Rapide: 0.2s
  Lente: 1s
 **/
$font-family: "Spartan", sans-serif;
$primary-color: #bb5432;
$secondary-color: #f1c5b6;
$light-color: #fff;

$text-weight: 300;
$currencies-weight: 500;
$title-weight: 700;

$transition-fast: all 0.2s ease-in-out;
$transition-slow: all 1s ease-in-out;
